# Ignore user files for OSX Finder
.DS_Store

# Ignore temporary files
*~
\#*\#
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Ignore user files for Xcode
xcuserdata

# Igore CocoaPods library folder
Pods

# Ignore THEOPlayer SDK framework
THEOplayerSDK.framework

# Ignore GoogleCast framework
GoogleCast.framework
